/* 
0 - 600px:          Phone
600 - 900px:        Tablet potrait
900 - 1200px:       Tablet landscape
1200px - 1800px:    Is our normal styles apply
1800px + :          Big dekstop
*/
/* 
$breakpoint argument choice
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
/*
//*?CALCULATION
By default px is effected in media queries root font sizes while em and rem are not.
However rem is fail to work on some browser as intended.
That is why we use em for media queries.

1em = 16px
400px/16px = 25em
500px/16px = 31.25em
900px/16px = 56.25em
1200px/16px = 75em
1800px/16px = 112.5em
*/
/*
//*NEW VERSION
Below 1344px Smaller PC
max-width: 84em

Below 1200px Landscape Tablets
max-width: 75em
html: font-size 56.25% //9px/16px = 0.5625 = 56.25%

Below 944px Tablets
max-width: 59em
html: font-size 50% // 8px/16px = 0.5 = 50%

Below 500px Phone
max-width: 31.25em // 500px/16px = 31.25

Below 400px Small Phone
max-width: 34em // 400px/16px = 34.25
*/
.highlight__text {
  font-family: 'Nothing You Could Do', cursive; }

.heading-title {
  font-size: 8rem;
  font-weight: 500;
  line-height: .9;
  letter-spacing: -3px; }
  @media only screen and (max-width: 31.25em) {
    .heading-title {
      font-size: 6rem; } }

.marginBottom-micro {
  margin-bottom: 1rem; }

.marginBottom-small {
  margin-bottom: 4rem; }

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25); }

.alert--success {
  background-color: #6CCC14; }

.alert--error {
  background-color: #eb4d4b; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* it will force the inheritance of box-sizing of their parent */ }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  color: #343a40;
  font-weight: 400; }

::selection {
  background-color: #343a40;
  color: #FFF200; }

.hero {
  height: 100vh;
  overflow: hidden;
  display: flex; }
  @media only screen and (max-width: 75em) {
    .hero {
      height: 90vh; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      height: 60vh;
      flex-direction: column-reverse;
      justify-content: center;
      background-color: #FFF200; } }
  @media only screen and (max-width: 31.25em) {
    .hero {
      height: 55vh; } }

.media {
  height: 100vh;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .media {
      flex-direction: column;
      height: 80vh; } }

.kontak {
  height: 30rem;
  background-color: #BFB600;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.heroLeft {
  width: 60%;
  background-color: #FFF200;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .heroLeft {
      width: auto;
      align-items: center;
      background-color: inherit; } }
  .heroLeft__icon {
    display: flex;
    justify-content: space-between; }
    .heroLeft__icon span {
      font-size: 2.5rem; }
      @media only screen and (max-width: 56.25em) {
        .heroLeft__icon span {
          position: absolute;
          top: 3%;
          left: 5%; } }
      @media only screen and (max-width: 31.25em) {
        .heroLeft__icon span {
          font-size: 2rem; } }
    .heroLeft__icon img {
      width: 7rem; }
    @media only screen and (max-width: 56.25em) {
      .heroLeft__icon div {
        position: absolute;
        top: 3%;
        right: 5%; } }
    .heroLeft__icon div a {
      text-decoration: none; }
      .heroLeft__icon div a:not(:last-child) {
        margin-right: .5rem; }
      .heroLeft__icon div a svg {
        height: 4rem;
        width: auto;
        color: #343a40;
        transition: all .1s; }
        .heroLeft__icon div a svg:hover {
          transform: scale(0.95); }
        @media only screen and (max-width: 31.25em) {
          .heroLeft__icon div a svg {
            height: 3rem; } }
  .heroLeft__title, .heroLeft__sub {
    width: 51rem; }
    @media only screen and (max-width: 56.25em) {
      .heroLeft__title, .heroLeft__sub {
        width: 64rem;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .heroLeft__title, .heroLeft__sub {
        width: 50rem; } }
  .heroLeft__sub {
    font-size: 1.8rem;
    overflow-wrap: break-word;
    hyphens: auto; }
  .heroLeft__button {
    align-self: end;
    display: inline-block;
    text-decoration: none;
    padding: 0.1rem 0.8rem;
    border-radius: 5px;
    font-size: 2.5rem;
    color: #e9ecef;
    background-color: #343a40;
    transition: background-color 0.1s;
    cursor: pointer;
    scroll-behavior: smooth; }
    .heroLeft__button:hover {
      transform: scale(0.95); }
    @media only screen and (max-width: 56.25em) {
      .heroLeft__button {
        display: none; } }

.heroRight {
  background-color: #E819FF;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .heroRight {
      width: auto;
      background-color: transparent;
      background-image: url("./../../img/wave.svg");
      background-position: center;
      background-size: cover; } }
  .heroRight picture {
    display: flex;
    justify-content: center; }
    .heroRight picture img {
      width: 28rem;
      border-radius: 5px; }
      @media only screen and (max-width: 56.25em) {
        .heroRight picture img {
          width: 35rem; } }
      @media only screen and (max-width: 31.25em) {
        .heroRight picture img {
          width: 25rem; } }

@media only screen and (max-width: 56.25em) {
  .heroImage--1, .heroImage--2 {
    display: none; } }

.heroImage--1 {
  transform: translateY(20px) rotate(-15deg);
  z-index: 10; }

.heroImage--2 {
  transform: translateY(-50px) rotate(15deg); }

.heroImage--3, .heroImage--4 {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .heroImage--3, .heroImage--4 {
      display: block; } }

@media only screen and (max-width: 56.25em) {
  .heroImage--3 {
    transform: translateY(-10px) rotate(-10deg);
    z-index: 11; } }

@media only screen and (max-width: 56.25em) {
  .heroImage--4 {
    transform: translateY(10px) rotate(10deg); } }

.kontakWrapper {
  padding: 2rem 4rem;
  font-size: 8rem;
  font-weight: 500;
  line-height: .9;
  letter-spacing: -3px;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .kontakWrapper {
      padding: 2rem 3rem;
      font-size: 7rem; } }
  @media only screen and (max-width: 31.25em) {
    .kontakWrapper {
      font-size: 5rem; } }
  .kontakWrapper__text {
    width: 50%; }
  .kontakWrapper form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .kontakWrapper form > * {
      margin-bottom: 1rem; }
    .kontakWrapper form button {
      text-decoration: none;
      padding: 0.1rem 0.8rem;
      border-radius: 5px;
      border: none;
      font-size: 2.5rem;
      color: #e9ecef;
      background-color: #343a40;
      transition: background-color 0.1s;
      cursor: pointer; }
      .kontakWrapper form button:hover {
        transform: scale(0.95); }

.formContainer {
  width: 90%;
  border: 2px solid #FFF200;
  background-color: #FFF200;
  border-radius: 5px;
  transform: all .1s;
  display: flex;
  flex-direction: column; }
  .formContainer:hover {
    border: 2px solid #403D00; }
  .formContainer label,
  .formContainer input {
    background-color: #FFF200;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
    border: none; }
  .formContainer label {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: -1px; }
  .formContainer input {
    padding-bottom: 1rem;
    font-size: 1.8rem; }
    @media only screen and (max-width: 31.25em) {
      .formContainer input {
        font-size: 1.5rem; } }

.mediaLeft {
  background-color: #b2f2bb;
  width: 50%;
  padding: 2rem 4rem;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .mediaLeft::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 56.25em) {
    .mediaLeft {
      width: auto;
      height: 50rem; } }

.navigasi {
  display: flex;
  justify-content: flex-end; }
  .navigasi label,
  .navigasi input {
    font-size: 1.8rem; }
  .navigasi label {
    margin-right: 1rem; }
  .navigasi input {
    border: none;
    width: 5rem;
    padding: 5px; }

.description__container {
  margin-bottom: 1rem; }

.description a {
  padding: 1.3rem;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: #343a40;
  transition: all .1s;
  display: flex; }
  .description a img {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    margin-right: 6rem; }
    @media only screen and (max-width: 31.25em) {
      .description a img {
        width: 8rem;
        height: 8rem;
        margin-right: 3rem; } }
  .description a div {
    display: flex;
    flex-direction: column; }
    .description a div span {
      font-size: 2.5rem; }
  .description a:hover {
    transform: scale(0.95);
    background-color: #ACE8B4; }
  .description a:focus {
    background-color: #A0D9A8; }

.description__container--active {
  background-color: #A0D9A8;
  transform: scale(0.95); }

.rotate {
  animation: rotation 8s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.mediaRight {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr); }
  .mediaRight__ebook {
    background-color: #70F068;
    grid-column: 2/-1; }
  .mediaRight__wave {
    background-color: #70F068;
    grid-column: 1/2; }
  .mediaRight__ebook, .mediaRight__wave {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mediaRight__ebook a, .mediaRight__wave a {
      text-decoration: none;
      color: #343a40;
      transition: all .1s; }
      .mediaRight__ebook a svg, .mediaRight__wave a svg {
        height: 10rem;
        width: auto;
        color: #343a40; }
        @media only screen and (max-width: 31.25em) {
          .mediaRight__ebook a svg, .mediaRight__wave a svg {
            height: 8rem; } }
      .mediaRight__ebook a:hover, .mediaRight__wave a:hover {
        transform: scale(0.95); }
    .mediaRight__ebook span, .mediaRight__wave span {
      font-size: 1.8rem; }
  .mediaRight__ebook a {
    display: flex;
    flex-direction: column; }
  .mediaRight__track {
    background-color: #EFDE7C;
    grid-row: 2;
    grid-column: 1/-1;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.slider {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slider__seek {
    width: 70%;
    background: #343a40;
    -webkit-appearance: none;
    appearance: none;
    height: .5rem;
    cursor: pointer;
    border-radius: 5px; }
    .slider__seek::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: #EFDE7C;
      border: 3px solid #343a40;
      cursor: pointer;
      border-radius: 100%; }
  .slider__current {
    margin-right: 1rem; }
  .slider__total {
    margin-left: 1rem; }

.volume {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .volume__seek {
    margin-right: 8px;
    width: 30%;
    background: #343a40;
    -webkit-appearance: none;
    appearance: none;
    height: .5rem;
    cursor: pointer;
    border-radius: 5px; }
    .volume__seek::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: #EFDE7C;
      border: 3px solid #343a40;
      cursor: pointer;
      border-radius: 100%; }
  .volume svg {
    height: 2rem;
    width: auto; }

.track {
  display: flex;
  align-items: center;
  justify-content: center; }
  .track__random, .track__prev, .track__playpause, .track__next, .track__repeat {
    margin-right: 2rem; }
    .track__random svg, .track__prev svg, .track__playpause svg, .track__next svg, .track__repeat svg {
      height: 3.5rem;
      width: auto;
      color: #343a40;
      cursor: pointer; }
      @media only screen and (max-width: 31.25em) {
        .track__random svg, .track__prev svg, .track__playpause svg, .track__next svg, .track__repeat svg {
          height: 3rem; } }
      .track__random svg:hover, .track__prev svg:hover, .track__playpause svg:hover, .track__next svg:hover, .track__repeat svg:hover {
        transform: scale(0.95); }
  .track__playpause svg {
    height: 7rem; }
    @media only screen and (max-width: 31.25em) {
      .track__playpause svg {
        height: 6.5rem; } }
  .track__repeat {
    margin-right: 0rem; }
