//*HIGHLIGHT TEXT
.highlight__text {
    font-family: 'Nothing You Could Do', cursive;
}

//*HEADING
.heading-title {
    font-size: 8rem;
    font-weight: 500;
    line-height: .9;
    letter-spacing: -3px;

    @include respond(phone4) {
        //31.25 500px
        font-size: 6rem;
    }
}

//*MARGIN
.marginBottom-micro {
    margin-bottom: 1rem;
}

.marginBottom-small {
    margin-bottom: 4rem;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #343a40;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #6CCC14;
}

.alert--error {
    background-color: #eb4d4b;
}