//* COLORS
$colorprimary-bright: #FFF200;
$colorprimary-medium: #BFB600;
$colorprimary-dark: #403D00;

$coloraccent-one: #E819FF;
$coloraccent-two: #6CCC14;
$coloraccent-three: #b2f2bb;

$color-white: #fff;
$colorgreylight-two: #e9ecef;
$colorgreylight-four: #ced4da;

$colorgreydark-six: #868e96;
$colorgreydark-eight: #343a40;
$color-black: #000;

//* FONT FAMILY
// $font-main: 'Kanit', sans-serif;
// $font-second: 'Nothing You Could Do', cursive;

//* FONT WEIGHT
$fontweight-title: 600;
$fontweight-subtitle: 400;
$fontweight-text: 200;

//* FONT SIZE
// Font sizes (px)
//8 //10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
$fontsize-button: 2.5rem;
$fontsize-paragraph: 1.8rem;

//* SPACING SYSTEM
//Spacing system (px)
// 2 / 4 / 8 / 12 / 14 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
$paddingsection: 2rem 4rem;

//*BORDER RADIUS
$borderradius-thin: 5px;
$borderradius-bold: 10px;